html {
    /* fast way to convert pixels to rem/em // Example: 18px = 1.8rem or 1.8em */
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    background-image: linear-gradient(to bottom right, #FFEBCD, #FF8B72);
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
    text-align: center;
    justify-content: center;
}


.heading h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

.heading p {
    font-size: 1.8rem;
    /* line 30 the width of the paragraph in figma is 298pixels = 29rem as long as html = 62.5% */
    max-width: 29rem;
    /* line 32 centers text */
    margin: auto;
}

.box {
    /* line 37 the width of the box that the image will go in - in figma it's 305px */
    width: 30rem;
    aspect-ratio: 4/3;
}

.first {
    background-image: url(https://images.unsplash.com/photo-1515536765-9b2a70c4b333?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    /* line 44 fits the larger image in the box */
    background-size: cover;
    /* line 46 moves the image on the vertical axis to get the right part of the image in the box */
    background-position-y: 50%;
    margin: 5.6rem auto 0;
    border: .3rem solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 1.6rem;
    /* both line 52/53 are the dimensions given in figma 305px X 233px */
    width: 30.5rem;
    height: 23.3rem;   
}

.hide-mobile {
    /* while on mobile the images with this class won't be displayed */
    display: none;
}


article h1 {
    font-size: 3.2rem;
}

article p {
    font-size: 1.8rem;
}

section {
    display: flex;
    flex-direction: column;
    /* the distance between each card is 75px in figma */
    gap: 7.5rem;
}

@media screen and (min-width: 768px) {
    .wrapper{
        text-align: left;
        /* line 84 push the h1 and subheader to the middle which line 82 left aligns it */
        margin: 0 auto;
        width: 70rem;
    }

    .heading h1 {
        /* h1 grows to 50px in figma */
        font-size: 5rem;
        margin: 0;
    }

    .heading p {
        /* subhead grows to 24px in figma */
        font-size: 2.4rem;
        margin: 0;
        /* line 99 - max width of the paragraph in figma is 492px */
        max-width: 49rem;
        margin-top: 1.5rem;
    }

    /* .box.first {
        margin-left: 0;
    } */

    .hide-mobile {
        display: block;
    }

    .first {
        /* line 113 and 114 = 195px and 149px in figma */
        width: 19.5rem;
        height: 14.9rem;
        margin: 0rem;
    }

    .box.second {
        background-image: url(https://images.unsplash.com/photo-1579380656108-f98e4df8ea62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
        background-size: cover;
        background-position-y: 25%;
        border: .3rem solid #000000;
        box-shadow: 4px 4px 0px #000000;
        border-radius: 1.6rem;
        width: 19.5rem;
        height: 14.9rem;
        /* line 128 push the frog image down*/
        margin-top: 8.3rem
    }

    .box.third {
        background-image: url(https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
        background-size: cover;
        background-position-y: 65%;
        border: .3rem solid #000000;
        box-shadow: 4px 4px 0px #000000;
        border-radius: 1.6rem;
        width: 19.5rem;
        height: 14.9rem;
    }

    .animals-pic {
        display: flex;
        /* gap between the 2nd and 3rd image */
        gap: 3.4rem;
        /* distance between the top of the pic to the subheader */
        margin-top: 4.9rem;
    }

    .left-col {
        display: flex;
        /* gap between the 1st and 2nd image */
        gap: 3.4rem;
    }

    section.wrapper {
        flex-direction: row;
        flex-wrap:wrap;
        /* line 160 has the articles start at the beginning of the row */
        justify-content: flex-start;
    }

    header {
        /* line 164 changes the height of the gradient container - I did this by making a rectangle in figma of to the size of that section which equaled to 502px */
        height: 50rem;
    }

    article:nth-of-type(2) {
        /* by click on the paragraph in figma - you will see the width of paragraph - the 2nd one is 277px */
        max-width: 27rem;
    }

    article:nth-of-type(3) {
        max-width: 27rem;
    }
}

@media screen and (min-width: 1400px) {
    .wrapper {
        /* the top of the horse image to the top of the screen in figma is 139px */
        padding-top: 13.9rem;
        margin: 0 auto;
        width: 1400px;
        display: flex;
        /* distance between the left and right column */
        gap: 12rem;
    }

    header {
        /* changes the gradient container again */
        height: 50rem;
    }

    .heading h1 {
        /* 60 pixels down from the top of the horse image which is the top of the container */
        padding-top: 6rem;
    }

    .heading p {
        /* line 198 - the paragraph text is 492px */
        max-width: 49rem;
        /* 15px away from h1 */
        margin-top: 1.5rem;
        /* line-height is 33px in figma */
        line-height: 3.3rem;
    }

    .left-col {
        flex-direction: column;
    }

    .right-col {
        /* centers dog image on the y-axis in the container */
        align-self: center;
    }

    .first {
        /* size of animal cards */
        width:  24rem;
        height: 18rem;
    }

    .box.second {
        width:  24rem;
        height: 18rem;
        margin: 0;
    }

    .box.third {
        width:  24rem;
        height: 18rem;
    }

    .animals-pic {
        /* removes margine so top horse image starts at the top of the container */
        margin: 0;
    }

    section.wrapper {
        /* gap between each article */
        gap: 13rem;
        justify-content: center;
    }

    article:nth-of-type(1) {
        /* max width of the 1st article */
        max-width: 27rem;
    }
}